.vs/
.vs/Yellow-Pages/v16/.suo
.vs/Yellow-Pages/v16/.suo
.vs/Yellow-Pages/v16/Browse.VC.db
.vs/Yellow-Pages/v16/ipch/AutoPCH/3a31188746fb12af/MAIN.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/43a8c940e5727def/MAIN.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/4cc38ca1a34a325/USER.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/7ce20db1700dfafe/USER.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/8697db76ece8e88e/USER.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/8ed14b538c93be5f/MAIN.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/a6cbd4e16334ba35/USER.ipch
.vs/Yellow-Pages/v16/ipch/AutoPCH/e40c8ec4aaa9bf65/USER.ipch
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Debug/Yellow-Pages.pdb
x64/Debug/main.obj
x64/Debug/User.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/Yellow-Pages.Build.CppClean.log
x64/Debug/Yellow-Pages.exe
x64/Debug/Yellow-Pages.ilk
x64/Debug/Yellow-Pages.log
x64/Debug/Yellow-Pages.pdb
x64/Debug/Yellow-Pages.tlog/CL.command.1.tlog
x64/Debug/Yellow-Pages.tlog/CL.read.1.tlog
x64/Debug/Yellow-Pages.tlog/CL.write.1.tlog
x64/Debug/Yellow-Pages.tlog/link.command.1.tlog
x64/Debug/Yellow-Pages.tlog/link.read.1.tlog
x64/Debug/Yellow-Pages.tlog/link.write.1.tlog
x64/Debug/Yellow-Pages.tlog/Yellow-Pages.lastbuildstate
x64/Release/MUHAMMAD_DANIAL_AIMAN_BIN_MOHD_HANIF_BI18110242/userDB.dat
x64/Release/MUHAMMAD_DANIAL_AIMAN_BIN_MOHD_HANIF_BI18110242/Yellow-Pages.exe
x64/Release/Yellow-Pages.log
